<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="switchboard" type="IsThisOn.SwitchBoardConfig, IsThisOn"/>
  </configSections>
  
  <switchboard provider="IsThisOn.ConfigSwitchProvider, IsThisOn">
    <features>
      <switch name="BoolSwitch" type="IsThisOn.BoolSwitch, IsThisOn" value="true" />
      <switch name="PercentageSwitch" type="IsThisOn.PercentageSwitch, IsThisOn" value="55.2" />
    </features>
  </switchboard>
</configuration>